<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">家装设计</h1>
       <p class="slogan">家装设计 是一个提供高薪水工作机会的求职网站。
         <br>
         我们希望借由这个网站，能让大家找到且应征上高薪且优质的工作。
         <br>
         凭借自己的努力和天份也会变 赢家
       </p>
       <p class="lead">
         <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>

 <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h1 class="section-heading">创新.改变世界</h1>
          <p class="lead">手连❤️通💰程打造未来最高端的设计风格</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">把握机会成就未来</h2>
          <p class="lead">如有心意的工作请投上简历，如果不会写可以多上网寻求帮助，  <a target="_blank" href="http://www.wenku1.com/list/%E5%AE%A4%E5%86%85%E8%AE%BE%E8%AE%A1%E5%B8%88%E7%AE%80%E5%8E%86/">W 第一文库网</a>! 在这里你会得到底满意得模版！</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">精选名企，
适合你的，才是对的<br>挑选你喜欢的工作和生活</h2>
          <p class="lead">摩改大赛可以参考<a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
